
body{
    background-color: #ebebeb;
    font-size: 12px;
    padding: 0;
    margin:0;
}

header{
    background-color: black;
    height: 9.5em;
    margin:0;
    padding: 0;
    padding-top: 0.3em;
}

h1{
    font-family: 'Lato', sans-serif;
    font-size: 2em;
    color: #282e5c;
    margin:0;
}

h1.last{
    color: gray;
    padding: 1em;
}

p{
    margin:0;
    margin-top: 1em;
    font-size: 1.2em;
    color: #021122;
}

footer{
    width: 82.5em;
    margin: auto;
    clear: both;
}

ul{
    margin: 0;
    padding: 0.5em;
    list-style: none;
   /* overflow: hidden;*/
    clear: both;
    border-top: solid;
    border-color: gray;
    border-width: 1px;
}

li{
    float: left;
}

nav a{
    display: inline-block;
    color: #dedede;
    text-decoration: none;
    padding: .3em 0.5em;
    font-family: arial;
    font-size: 16px;
}
nav a:hover{
    background-color: gray;
    color: black;
}

.yellow a{
    color: yellow;
}
.red a{
    color: red;
    text-transform: uppercase;
}

.header{
    width: 82.5em;
    margin: auto;
    overflow: auto;
}
.header img{
    float: left;
    margin-bottom: 0.5em;
}

.login{
    float: right;
}
.login p{
    color: gray;
    font-family: arial;
    padding: 0.6em;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3em;
    border-color: #333333;
    margin: 1em;
    margin-top: 0;
    cursor: pointer;

}
.search{
    float: right;
}
.search_img{
    height: 30px;
    position: relative;
    left: 115px;
    bottom: 2px;
    background-image: url("img/lupa.png");
    background-repeat: no-repeat;
}
.rounded{
    height: 2em;
    background-color: #333333;
    color: gray;
    font-family: arial;
    font-size: 1.1em;
    border-radius:  0.3em;
    border-radius: 0.3em;
    border-width: 0;
    padding-left: 0.5em;
    padding: .3em 0.5em;
    float: left;
}

.social_h{
    float: right;
    margin-right: 1em;
    margin-top: auto;
    margin-bottom: auto;
}
.social_h p{
    float: left;
    color: gray;
    font-family: arial;
    margin-right: 0.3em;
    line-height: 50%;
    
}
.social_h img{
    height: 30px;
    position: relative;
    top: 0.3em;
}
/*..........................................................................................................*/
/*..........................................................................................................*/
/*body*/
.content{
    background-color: #f8f8f8;
    width: 82.5em;
    margin: auto;
    overflow: auto;
    clear: both;

}


.left{
    width: 55em;
    margin: 0;
    padding: 0;
    float: left;
}

.right{
    
    width: 27.5em;
    margin:0;
    padding: 0;
    float: left;
}


.text::before{
    content: "";
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 10px solid white;
    position: relative;
    top: -4.2em;
    left: 0.5em;
}

.text{
    padding: 2em;
    background-color: #f8f8f8;
    border: 0;
    font-family: 'Lora', serif;
}

.category{
    text-transform: uppercase;
    font-family: arial;
    font-size: 0.9em;
    color: #021122;
}
.last{
    background-color: #e0e0e4;
    overflow: hidden;
}

.link{
    font-family: arial;
    padding: 0.5em;
    
    color: #282e5c; 
}

.link a{
    display: inline-block;
    color: #282e5c;
    padding-left: 1em;
    text-decoration: none;
    font-size: 1.4em;
    font-weight: bold;
}
/*..........................................................................................................*/
/*..........................................................................................................*/
/*#*/
.logo_s{
    float: left;
    padding-top: 1.5em;
}
.column_f{
    font-family: arial;
    float: right;
}
.column_f p{
    text-transform: uppercase;
    font-size: 1em;
    color: gray;
    padding-bottom: 1em;
    padding-top: 1.5em;
}
.column_f li{
    clear: both;
    padding-left: 0;
}
.column_f a{
    font-size: 1em;
    color: #021122;
    font-weight: normal;
    padding-left: 0;
    margin-right: 4em;
    display: inline-block;
}
.column_f ul{
    padding-bottom: 3em;
 clear: both;
}
.column_f img{
    height: 22px;
}

/*..........................................................................................................*/
/*..........................................................................................................*/
/*ukryc elem mobilowe*/
@media only screen and (min-width: 451px){
.menu_mobile{
    display: none;
}
#logo_foter{
    display: none;
}
.footer4phone{
    display: none;
}

}

/*..........................................................................................................*/
/*..........................................................................................................*/
/*mobile*/
@media only screen and (max-width: 450px){
    
    .header{
        margin: 0;
        width: 100%;
    }
    header{
        height: auto;
    }

    nav li{
        display: none; /* ukrycie elem */
        margin: 0;
    }
    ul{
        border: 0px;
    }

    .login{
        display: none;
    }
  
    .social_h{
        display: none;
    }
    .search_img{
        position: initial;
        width: 50px;
        height: 50px;
        margin-top: 1em;
        margin-right: 1em;
        background-image: url("img/lupa_m.png");
        background-repeat: no-repeat;
        background-position: center; 
    }

    .rounded{
        display: none;
    }
    
    .menu_mobile{
        float: left;
        display: block;
        height: 50px;
        padding: 1em;
        margin-right: 3em;
    }
    .menu_mobile img{
        height: 100%;
    }
   
    
    .content{
        width: 100%;
    }
    .left{
        float: none;
        width: 100%;
    }
    .right{
        float: none;
        width: 100%;
    }
    section{
        background-color: #f3f4f4;
    }
    .text{
        background-color: #f3f4f4;
    }
    .text::before{
        border-bottom: 10px solid #f3f4f4;
    }
    section img{
        width: 100%;
    }
    #important4phone h1{
        background-color: white;
    }
    .left section:not(.important4phone){
        display: none;
    }

    .right section:not(#important4phone){
        display: none;
    }
    #important4phone{
        background-color: white;
        overflow: hidden;
    } 
    footer{
        width: 100%;
        height: auto;
    }
    #logo_foter{
        margin-bottom: 2em;
        margin-top: 1em;
    }
    .footer4phone{
        border-bottom: 1px solid lightgray;
        border-top: 1px solid lightgray;
        overflow: hidden;
    }
    .footer4phone a{
        display: inline-block;
        color: gray;
        text-decoration: none;
        text-transform: uppercase;
        padding: .3em 0.5em;
        font-family: arial;
       
    }
   

    .column_f{
        clear: both;
    }
    .logo_s{
        clear: both;
    }
    .footer_mobile{
        clear: both;
    }
    /*footer ul:not(.footer_mobile){
        display: none;
    }
    footer p{
        display: none;
    }*/
}   




